@model IEnumerable<MyFirstMVC4Application.Models.RestaurantReview>

@{
    ViewBag.Title = "Index";
    var firstReview = Model.First();
    //Layout = "~/views/shared/_Layout3.cshtml";
   // Layout = null;
    
}

@section featured{
<aside>
    <h3>we are showing the latest @Model.Count() in the view </h3>
</aside>
}

@*<h2>The latest reviews</h2>

<h3>we are showing the latest @Model.Count() in the view </h3>

@*gets the location of the views*@
@VirtualPath <br/>

@firstReview.Name

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@foreach (var item in Model)
{
    @:{Review
    
    @Html.Partial("_Review", item)
    
    @:}
    
} 

<p>
    @Html.ActionLink("Create New","Create")
</p>